backend:
  name: github
  repo: yassine060793/NYK---Construction
  branch: main
  auth_scope: repo
media_folder: "static/images/uploads"
public_folder: "/images/uploads"
collections:
  - name: "posts"
    label: "Posts"
    folder: "content/posts"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
